[package]
name = "renegade-sdk"
version = "0.1.0"
edition = "2021"

[[example]]
name = "external_match"
path = "examples/external_match/external_match.rs"

[[example]]
name = "quote_validation"
path = "examples/quote_validation/quote_validation.rs"

[[example]]
name = "non_sender_receiver"
path = "examples/external_match/non_sender_receiver.rs"

[[example]]
name = "modify_order_after_quote"
path = "examples/external_match/modify_order_after_quote.rs"

[features]
default = ["external-match-client", "darkpool-client"]
external-match-client = []
darkpool-client = []

[dependencies]
# === Renegade Dependencies === #
renegade-api = { package = "external-api", git = "https://github.com/renegade-fi/renegade.git", features = [
    "auth",
], rev = "31129bc" }
renegade-auth-api = { package = "auth-server-api", git = "https://github.com/renegade-fi/relayer-extensions.git", rev = "d3aa518" }
renegade-circuit-types = { package = "circuit-types", git = "https://github.com/renegade-fi/renegade.git", rev = "31129bc" }
renegade-common = { package = "common", git = "https://github.com/renegade-fi/renegade.git", rev = "31129bc" }
renegade-constants = { package = "constants", git = "https://github.com/renegade-fi/renegade.git", rev = "31129bc" }
renegade-crypto = { git = "https://github.com/renegade-fi/renegade.git", rev = "31129bc" }
renegade-util = { package = "util", git = "https://github.com/renegade-fi/renegade.git", rev = "31129bc" }

# === Http === #
reqwest = { version = "0.11", features = ["json"] }
serde = { version = "^1.0.197" }
serde_json = "1.0.64"

# === Ethereum === #
ethers = "2.0.0"

# === Misc === #
eyre = "0.6.10"
num-bigint = "0.4.3"
thiserror = "1.0.31"

# === Example Dependencies === #
[dev-dependencies]
tokio = { version = "1.30.0", features = ["full"] }
